@import url('https://fonts.googleapis.com/css?family=Kdam+Thmor+Pro');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    background-color: #D21617;
}

#Logo {
    width: 150px;
    height: auto;
}

#Banner {
    background-image: url('https://pbs.twimg.com/media/FBwJWeQXIAItfyH.jpg:large');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.email {
    margin: 100px 0 0 250px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    display: flex;  
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/4999412-mail-icon-vector-envelope-sign-email-symbol-gratis-vetor.jpg');
}

p {
    color: red;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 260px;
}

.telefone{
    margin: -100px 0 0 900px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    display: flex;  
    background-image: url('https://img.freepik.com/icones-gratis/telefone-anel-simbolo-de-interface-auricular-com-linhas-do-som_318-56226.jpg?w=360');
}

#tel {
    color: red;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 900px;
    margin-top: -50px;
}

#texto {
    width: 70%;
    height: 90px;
    background-color: red;
    margin-left: 200px;
    margin-top: 30px;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Text-email {
    color: #fff;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 30px;
    
}

#text-tel {
    color: #fff;
    font-size: 25px;
    margin-left: 850px;
    margin-right: -50px;
    margin-top: -40px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navegation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media(max-width: 768px){
    footer {  
        margin-left: 50px;
    }

    .footer-navegation {
        display: block;
        margin-left: 50px;
    }
    nav {
        display: none;
    }

    #Banner {
        background-position: 40%;
    }

    #texto {
        width: 100%;
        height: 70%;
        margin: 100px 0 0 0;
        font-size: 25px;
    }

    .telefone {
        margin: 350px 30px -150px 150px;
        background-position: 50%;
    }

    .email {
        margin: 50px 30px 10px 150px;
        background-position: 50%;
    }

    p {
        margin-left: 160px;
        margin-top: -450px;
    }

    #Text-email {
        margin-left: 60px;
        margin-top: -400px;
    }

    #tel {
        margin: 400px 0 0 150px;
    }
    #text-tel {
        margin: 400px 0 0 100px;   
    }
}